.modalCard__content {
    display: flex;
    align-items: flex-start;

    width: min(800px, 90vw);
    min-height: 504px;
    max-height: 90vh;

    padding: 16px;
    background-color: var(--color-gray-bg);
}

.modalCard__imgContent {
    width: 100%;
    max-width: 208px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.modalCard__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.modalCard__info {
    display: flex;
    flex-direction: column;
    row-gap: 14px;

    max-width: 560px;
}

.modalCard__choseSize,
.modalCard__choseSkinType,
.modalCard__choseSmell {
    display: flex;
    justify-content: start;
    gap: 8px;
    flex-wrap: wrap;
}

.modalCard__block button,
#closeModalCardBtn {
    line-height: 1.5em;
    padding: 5px 15px;

    border-radius: 72px;
    border: 1px solid var(--color-btn);
    background-color: var(--color-bg);

    transform: scale(1);
    transition: transform 0.1s ease;
}

.modalCard__block button:hover,
#closeModalCardBtn:hover {
    background-color: var(--color-btn);
    color: var(--color-text-btn);
}

.modalCard__block button:active,
#closeModalCardBtn:active {
    transform: scale(0.9);
}

.modalCard__totalPrice {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.modalCard__block button.isActive {
    background-color: var(--color-btn);
    color: var(--color-text-btn);
}

@media (max-width: 860px) {
    .modalCard__imgContent {
        max-width: 130px;
    }
}

@media (max-width: 640px) {
    .modalCard__content {
        width: min(500px, 80vw);
        max-height: 700px;
    }

    .modalCard__imgContent {
        display: none;
    }
}